body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #8a9288;
    background-image: linear-gradient(315deg, #2c1909 0%, #ccbcaa 74%);
     background-repeat: no-repeat;
  background-attachment: fixed;
}
nav{
    background-color: #5d6a6b;
    padding: 10px;
    background-image: url('https://i.pinimg.com/1200x/e0/2c/8a/e02c8abf15acb3e7d9e97ae60972d36b.jpg');

}
nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 200px;
}
nav ul li a{
    text-decoration: none;
    color: rgb(224, 241, 237);
    font-size: 35px;
}
.nav-item a:hover{
    color: rgb(92, 65, 48);
    font-size: 20px;
}
div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-top: 50px;
    background-color: #dddfde;
    border-style: outset;
    border-width: 15px;
    border-color: #806868;
}
img{
    width: 300px;
    height: auto;
    border-radius: 10px;

}

article h2{
    color: hsl(180, 6%, 26%);
    font-size: 28px;
    margin-right: 350px;
    text-align: left;
    
}
article p{
    color: #353e42;
    font-size: 18px;
    line-height: 1.6;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px;
}
label{
    font-size: 18px;
    color: rgb(38, 46, 44);

}
input[type="text"]{
    padding: 20px;
    width: 100px;
    border: 1px solid #806868;
    border-radius: 7px;
}
input[type="submit"]{
    padding: 1px 20px;
    background-color: rgb(103, 129, 116);
    border: none;
    border-radius: 20px;
    color: rgb(114, 204, 137);
    font-size: 18px;
    cursor: pointer;
}
input[type="submit"]:hover{
    background-color: rgb(61, 49, 59);
    color: rgb(120, 164, 204);
    transition: 0.3s;
}

article{
    background-color:  #c0ad94;
    margin: 20px;
    padding: 1em;
    max-width: 70%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.185);
    border-radius: 0px;
}
p{
    color: #7a695b;
    font-size: 20px;
    line-height: 1.4;
}
div2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-top: 50px;
    background-color: #7c7e7d;
    border-style: outset;
    border-width: 15px;
    border-color: #ceb095;
}
div3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-top: 50px;
    background-color: #fafafa;
    border-style: outset;
    border-width: 15px;
    border-color: #ceb095;
}
a{
    color: #887a6e;
    text-decoration: none;
    display: block;
    text-align: center;
}
